.question {
    display: none;
    padding: 1rem;
    font-size: 1.2rem;
    margin-top: 1.5rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    background-color: rgb(58, 57, 57);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    align-items: center;
    color: aqua;
    cursor: pointer;
}

.answer {
    display: none;
    padding: 1rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    background-color: rgb(242, 233, 233);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    align-items: center;
    color: black;
    cursor: pointer;    
}

.question:hover {
    background-color: rgb(92, 90, 90);
}